/**
 * Project Name: Assignment 1 - HTML and CSS
 * Project Url: https://mr-vance.github.io/firstAssignment
 * Author: Vance Muchongo
 * Author Url: https://vance-muchongo.web.app
 * Initial Release: July 08, 2023
 * Last Update: [TBC]
 * 
 */
/* 


====================
  Table of Contents 
====================

1. General Style
2. Navigation Bar and Menu
3. Hero Section
4. Feature Content Section
5. Section 1
6. Section 2
7. Footer
8. Media Queries 



/***********************************************************
  1. General Style 
************************************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Disable horizontal scroll*/
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

h1{
  justify-content: center;
  font-weight: normal;
  color: #454545;
}
h3{
  font-weight: normal;
  color: #454545;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}


/***********************************************************
  2. Navigation Bar and Menu
************************************************************/

nav {
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 40px;
}

nav img {
  max-height: 3em;
}

nav ul {
  display: flex;
}

nav ul li {
  margin-left: 15px;
}

input[type="checkbox"] {
  display: none;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-icon span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #555555;
  margin-bottom: 6px;
}

#menu-toggle:checked ~ .menu {
  display: block;
}

/***********************************************************
  3. Hero Section
************************************************************/

.hero {
  padding: 80px 20px;
  text-align: center;
  display: flex;
  width: inherit;
  height: inherit;
  background-color: #ffead8;
}

.hero-content {
  margin-bottom: 30px;
  flex: 1;
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 10px;
  font-weight: normal;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.primary-button,
.secondary-button {
  padding: 7px 27px;
  margin: 0 10px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  color: #ffffff;
  background-color: #f87171;
}

.secondary-button {
  background-color: #3498db;
}

/***********************************************************
  4. Feature Content Section
************************************************************/

.feature {
  padding: 40px 20px;
  text-align: center;
  background-color: #94a3b8;
}

.feature-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 4px; 
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 4px; 
}

.card {
  flex-basis: calc(25% - 20px);
  max-width: calc(25% - 20px);
  padding: 20px;
  border-radius: 10px;
  background-color: #f5f5f5;
  box-sizing: border-box;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
  border: 1px solid #ccc;
}

.card img {
  width: 50%; 
  height: auto;
  margin-bottom: 20px;
}

.card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  margin-bottom: 0; 
}

@media (max-width: 767px) {
  .cards {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .card {
    flex-basis: 100%;
    max-width: 100%;
  }
}


/***********************************************************
  5. Section 1
************************************************************/

.section1 {
  padding: 40px 20px;
  text-align: center;
  background-color: #d4bfc8;
}

.section1 h2 {
  font-size: 28px;
  font-weight: normal;
  color: #454545;
}

.section1 p {
  font-size: 16px;
  margin-bottom: 40px;
}

/***********************************************************
  6. Section 2
************************************************************/

.section2 {
  padding: 40px 20px;
  text-align: center;
  background-color: #f5f5f5;
}

.section2 h2 {
  font-size: 28px;
  font-weight: normal;
  color: #454545;
}

.section2 .profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.section2 .profile-info {
  text-align: left;
  flex-grow: 1;
  margin-right: 20px;
}

.section2 .profile-info h3 {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 10px;
}

.section2 .profile-info p {
  font-size: 16px;
  margin-bottom: 20px;
}

.section2 .slideshow {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}


.section2 .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s;
}

.section2 .slideshow .slide:nth-child(1) {
  animation: testimonialSlideshow 10s infinite;
}

@keyframes testimonialSlideshow {
  0%, 100% {
    opacity: 0;
  }
  20%, 80% {
    opacity: 1;
  }
}

.social-icons {
  display: flex;
}

.circle {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: #f5f5f5;
}

.section2 .profile-image {
  flex-shrink: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-size: cover;
  background-image: url('images/profile.jpg');
}

/***********************************************************
  7. Footer
************************************************************/

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f5f5f5;
  margin-top: 40px;
}

footer ul {
  display: flex;
}

footer ul li {
  margin-left: 15px;
}

footer .social-icons {
  display: flex;
}

footer .circle {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: #f5f5f5;
}


/***********************************************************
  8. Media Queries 
************************************************************/

@media only screen and (max-width: 768px) {

  nav ul {
    display: none;
  }

  .menu-icon {
    display: flex;
  }

  .hero h1 {
    font-size: 32px;
  }

  .hero p {
    font-size: 14px;
  }

  .profile {
    flex-direction: column;
  }

  .profile-info {
    text-align: center;
    margin-bottom: 20px;
  }

  .profile-image {
    margin-top: 20px;
  }

  footer ul {
    display: none;
  }

  .social-icons {
    display:inline;
  }

  .menu {
    display: none;
    flex-direction: column;
    margin-top: 10px;
  }

  .menu li {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .menu-icon {
    display: flex;
  }

  #menu-toggle:checked ~ .menu {
    display: flex;
  }

}