/**
 * Project Name: Assignment 1 - HTML and CSS
 * Project Url: https://mr-vance.github.io/firstAssignment
 * Author: Vance Muchongo
 * Author Url: https://vance-muchongo.web.app
 * Initial Release: July 08, 2023
 * Last Update: [TBC]
 * 
 */
/* 


====================
  Table of Contents 
====================

1. General Style
2. Navigation Bar and Menu
3. Hero Section
4. Feature Content Section
5. Section 1
6. Section 2
7. Footer
8. Media Queries 



/***********************************************************
  1. General Style 
************************************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Disable horizontal scroll*/
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}
p{
  color: #454545;
}

h1{
  justify-content: center;
  font-weight: normal;
  color: #454545;
}
h3{
  font-weight: normal;
  color: #454545;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}


/***********************************************************
  2. Navigation Bar and Menu
************************************************************/


nav {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: relative;
}

nav img {
  max-height: 3em;
}


nav ul li {
  margin-left: 15px;
}

input[type="checkbox"] {
  display: none;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  order: 1;
}

.menu-icon span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #555555;
  margin-bottom: 6px;
}

.menu {
  display: flex; 
  flex-direction: row; 
}

.menu li {
  margin-left: 15px;
}

#menu-toggle:checked ~ .menu {
  display: none; 
}

#menu-toggle:checked ~ ul.menu {
  display: flex; 
}



/***********************************************************
  3. Hero Section
************************************************************/

.hero {
  padding: 80px 20px;
  text-align: center;
  display: flex;
  width: inherit;
  height: inherit;
  background-color: #ffead8;
}

.hero-content {
  margin-bottom: 30px;
  flex: 1;
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 10px;
  font-weight: normal;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.primary-button,
.secondary-button {
  padding: 7px 27px;
  margin: 0 10px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  color: #ffffff;
  background-color: #f87171;
}

.secondary-button {
  background-color: #3498db;
}

/***********************************************************
  4. Feature Content Section
************************************************************/

.feature {
  padding: 40px 20px;
  text-align: center;
  background-color: #94a3b8;
}

.feature-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 4px; 
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 4px; 
}

.card {
  flex-basis: calc(25% - 20px);
  max-width: calc(25% - 20px);
  padding: 20px;
  border-radius: 10px;
  background-color: #f5f5f5;
  box-sizing: border-box;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
  border: 1px solid #ccc;
}

.card img {
  width: 50%; 
  height: auto;
  margin-bottom: 20px;
}

.card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  margin-bottom: 0; 
}

@media (max-width: 767px) {
  .cards {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .card {
    flex-basis: 100%;
    max-width: 100%;
  }
}


/***********************************************************
  5. Section 1
************************************************************/

.section1 {
  padding: 40px 20px;
  text-align: center;
  background-color: #d4bfc8;
}

.section1 h2 {
  font-size: 28px;
  font-weight: normal;
  color: #454545;
}

.section1 p {
  font-size: 16px;
  margin-bottom: 40px;
}

/***********************************************************
  6. Section 2: Testimonials
************************************************************/

.section2 {
  padding: 40px 20px;
  text-align: center;
  background-color: #bab7b1;
  padding-bottom: 3em;
}

.section2 h2 {
  font-size: 28px;
  font-weight: normal;
  color: #454545;
}

.section2 p {
  font-size: 16px;
  margin-bottom: 40px;
}

.testimonials {
	position: relative;
	overflow: hidden;
	height: 100%; 
}

.testimonials .slider {
	height: 100%;
	white-space: nowrap;
	font-size: 0;
	transition: 0.8s;
}


.testimonials .slider > * {
	font-size: 1rem;
	display: inline-block;
	white-space: normal;
	vertical-align: top;
	height: 100%;
	width: 100%;
	background: none 50% no-repeat;
	background-size: cover;
}


.testimonials .prevNext {
	position: absolute;
	z-index: 1;
	top: 50%;
	width: 100%;
	height: 0;
}

.testimonials .prevNext > div+div {
	visibility: hidden; 
}

.testimonials .prevNext a {
	background: #f87171;
	position: absolute;
	width:       60px;
	height:      60px;
	line-height: 60px; 
	text-align: center;
	opacity: 0.7;
	-webkit-transition: 0.3s;
					transition: 0.3s;
	-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
	left: 0;
}
.testimonials .prevNext a:hover {
	opacity: 1;
}
.testimonials .prevNext a+a {
	left: auto;
	right: 0;
}


.testimonials >s:target ~ .prevNext >* {      visibility: hidden;}
#s1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#s2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#s3:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
#s4:target ~ .prevNext >*:nth-child(4) {visibility: visible;}

/* SLIDER ANIMATION POSITIONS */

#s1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#s2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#s3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#s4:target ~ .slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}



.testimonials a {
	border-radius: 50%;
	margin: 0 3px;
	color: rgba(0,0,0,0.8);
	text-decoration: none;
}

.testimonial-content {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.testimonial-image {
  text-align: center;
  margin-top: 20px;
}

.testimonial-image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.social-icons {
  margin-top: 10px;
}

.social-icon {
  margin-right: 5px;
}


/***********************************************************
  7. Footer
************************************************************/

.footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}



/***********************************************************
  8. Media Queries 
************************************************************/

@media only screen and (max-width: 768px) {

  nav ul {
    display: none;
  }

  .menu-icon {
    display: flex;
    order: 3;
  }

  .hero h1 {
    font-size: 32px;
  }

  .hero p {
    font-size: 14px;
  }

  .testimonial-image {
    text-align: center;
    margin-top: 20px;
  }

  footer ul {
    display: none;
  }

  .social-icons {
    margin-top: 10px;
    text-align: center;
    margin-top: 20px;
  }

  .menu {
    display: none;
    flex-direction: column;
    margin-top: 10px;
  }

  .menu li {
    margin-left: 0;
    margin-bottom: 10px;
  }


  #menu-toggle:checked ~ .menu {
    display: flex;
  }

  nav ul {
    display: flex;
    position: absolute;
    top: 100%; 
    left: 0; 
    background-color: #ffffff; 
    padding: 10px; 
    flex-direction: column; 
    width: 100%; 
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    order: 1;
  }

  .menu-icon {
    order: 3;
  }

  .primary-button {
    order: 2;
  }
  

}

